.app-input {
  background-image: url(../../assets/icons/search.svg);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 19px center;
  padding-left: 44px;
  color: #808080;
  font-size: 14px;
  height: 40px;
  width: 50%;
  border-radius: 6px;
  border-width: 0;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .app-input {
    width: 100%;
  }
}