.app-user-repos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.app-user-repos__title {
  font-size: 32px;
  color: black;
  margin-bottom: 28px;
}

.app-user-repos__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
}

.app-user-repos__not-found {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* react-paginate custom styles */

.pagination {
  display: flex;
  align-items: center;
}

ul.pagination li {
  cursor: pointer;
  color: #808080;
  margin-right: 16px;
}

ul.pagination li.active {
  color: white;
  background-color: #0064EB;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 14px;
}

ul.pagination li.next,
ul.pagination li.previous {
  font-weight: bold;
  color: #0064EB;
}

ul.pagination li.next {
  margin-right: 0;
}

ul.pagination li.disabled {
  cursor: default;
  color: #808080;
}

@media only screen and (max-width: 768px) {
  .app-user-repos__title {
    text-align: center;
  }
}