.app-user-repos {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app-user-repos__title {
  font-size: 32px;
  color: black;
  margin-bottom: 28px;
}

.app-user-repos__not-found {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .app-user-repos__title {
    text-align: center;
  }
}
