.app-user {
  display: flex;
  flex: 1;
  padding: 2%;
}

.app-user__info {
  position: relative;
  padding: 0 4%;
  margin-right: 2%;
}

.app-user__content {
  position: relative;
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .app-user {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .app-user__content {
    min-height: 200px;
  }
}