.app-user-repos__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 24px;
}

.app-user-repos__link {
  font-size: 24px;
  color: #0064EB;
  margin-bottom: 16px;
}

.app-user-repos__desc {
  font-size: 16px;
  color: black;
}